* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(10, 15, 30, 0.95);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 18px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}

.logo span {
    color: #6c63ff;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: #d8d8e0;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #6c63ff;
}

.resume-btn {
    padding: 10px 18px;
    background: #6c63ff;
    border-radius: 6px;
    color: white !important;
}

.resume-btn:hover {
    background: #574fd6;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    cursor: pointer;
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #0a0f1e;

        flex-direction: column;
        padding: 25px;
        gap: 22px;
    }

    .nav-links.active {
        display: flex;
    }
}